/*Logo*/
.familynav-logo{background-image:url("../images/nav-spriteB.png");background-position:0 0;text-indent:100%;white-space:nowrap;overflow:hidden;-webkit-transform:translateY(45px);-ms-transform:translateY(45px);transform:translateY(45px);-webkit-transition:transform .2s ease;transition:transform .2s ease;float:left;height:102px;margin:0 20px 0 10px;width:98px}
.familynav-logo:hover{background-image:url("../images/nav-sprite.png");}
@media(-webkit-min-device-pixel-ratio:1.5),(min-resolution:1.5dppx),(min-resolution:144dpi){.familynav-logo{-webkit-background-size:98px 115px;background-size:98px 115px;background-image:url("../images/nav-sprite.png")}}
@media(min-width:1400px){.familynav-logo{margin-left:20px;margin-right:96px}}
@media(max-width:680px){.familynav-logo{-webkit-transform:scale(0.65) translateY(55px);-ms-transform:scale(0.65) translateY(55px);transform:scale(0.65) translateY(55px)}}
/*Titulo*/
#Titulo{position:absolute;left:30px;top:-2px;}
#Titulo h1 a{color:#f98383;text-decoration:none;text-shadow:2px 2px 4px #000000, 0 0 25px pink, 0 0 5px hotpink;}
#Titulo h1 a span{color:#fff;text-shadow:2px 2px 4px #000000, 0 0 25px pink, 0 0 5px #fff;}
#Contacto{position:absolute;right:120px;top:10px;}
#Redes{position:absolute;right:20px;top:10px}
@media(max-width:680px){#Titulo h1 a{font-size:.97em}}
@media(max-width:1080px){#Contacto {font-size:.85em;width:280px}}
@media(max-width:680px){#Redes {display:none;}#Contacto{right:20px;top:50px;}}
/*Encabezado*/
.familynav-header{-webkit-background-size:100% 80px 100% 80px;background-size:100% 80px 100% 80px;zoom:1;-webkit-transition:background .2s ease;transition:background .2s ease;background:#1f1f1f;height:130px;position:relative;width:100%;z-index:10}
.familynav-header:after{display:block;visibility:hidden;height:0;clear:both;content:"."}
.familynav-header .container{margin:0 auto;padding:0;width:1000px}
.familynav-header .adjunctnav{display:none}
.familynav-header .adjunctnav.active{display:block}
@media(min-width:1400px){.familynav-header .container{width:1400px}}
@media(max-width:1000px){.familynav-header .container{width:760px}}
@media(max-width:680px){.familynav-header{background:#1f1f1f;height:auto;position:relative}.familynav-header.overlay{position:relative}.familynav-header .container{background:#1f1f1f;width:100%}}
/*Altura nav*/
.familynav{display:block;float:left;height:70px;margin-top:55px;position:relative;width:610px}
@media(max-width:680px){#navmenu{margin-top:50px}}
/*Tamaño menu horizontal*/
@media(min-width:1400px){.familynav{width:920px}}
@media(max-width:1000px){.familynav{width:587px}}
@media(max-width:680px){.familynav{float:none;height:auto;margin-top:30px;padding-top:30px;width:100%}}
/*Logo*/
@media(-webkit-min-device-pixel-ratio:1.5),(min-resolution:1.5dppx),(min-resolution:144dpi){.familynav-adjunctnav ul a[rel="external"]:after{-webkit-background-size:98px 115px;background-size:98px 115px;background-image:url("../images/nav-sprite.png196px")}}
/*Escalar Logo*/
.familynav-header.stuck{-webkit-transform:translateY(-50px);-ms-transform:translateY(-50px);transform:translateY(-50px);/*background:#332;*/background:rgba(51,51,51,0.7)box-shadow:0 1px 3px rgba(50,50,50,0.4);position:fixed;top: 0;z-index:200}
.familynav-header.stuck .familynav-logo{-webkit-transform:scale(0.65) translateY(55px);-ms-transform:scale(0.65) translateY(55px);transform:scale(0.65) translateY(55px)}